.status {
    display: flex;
    flex-direction: column;
    margin: 4px;
}

.registers {
    flex: 1;
    font-size: var(--text-xs);
}

.registers td {
    line-height: 20px;
}

.regName {
    padding-right: 10px;
}

.regContents {
    font-family: JuliaMono, 'Courier New', Courier, monospace;
    width: 100%;
    max-width: 0;
}
