name: Test suite

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Cache build artifacts
      uses: Swatinem/rust-cache@v2
    - name: Build
      run: cargo build --workspace --exclude armul_app --verbose
    - name: Run tests
      run: cargo test --workspace --exclude armul_app --verbose
